<br/>
<div style="text-align:center;">
<button class="button large hollow warning" (click)="getOldData()">Get Normal Data</button>
<button class="button large hollow warning" (click)="getArrayedData()">Get Arrayed Data</button>
<button class="button large hollow warning" (click)="printData()">Print JSON to Console</button>
<button *ngIf="debug == null" class="button large hollow warning" (click)="debugTime()">Speed Up Time</button>
<button *ngIf="debug != null" class="button large hollow warning" (click)="resetTime()">Reset Time</button>
</div>
<!-- The question mark indicated in Angular API as an Elvis operator will wait for schedules to be non-null before rendering the values below it -->

<div *ngIf="visible">

	<div *ngIf="arrayed" class="centerText">
		<br/>
		<h2 class="gold">Today is: {{date}}  {{convertToReadableTime(hour)}}</h2>
		<table *ngFor="#building of schedules?.schedules;" class="mainTable">
			<tr>
				<th>Building</th>
				<th>Name</th>
				<th>Service</th>
				<th>Open</th>
				<th>Close</th>
			</tr>
			<tr>
				<td><a href="{{building.map_url}}" target="_blank">{{building.name}}</a></td>
				<td>---</td>
				<td *ngIf="isOpen(building)">{{building.times[getCurrentDay(building)].hours[getCurrentHours(building, getCurrentDay(building))].name}}</td>
				<td *ngIf="isOpen(building)">{{convertToReadableTime(building.times[getCurrentDay(building)].hours[getCurrentHours(building, getCurrentDay(building))].open)}}</td>
				<td *ngIf="isOpen(building)">{{convertToReadableTime(building.times[getCurrentDay(building)].hours[getCurrentHours(building, getCurrentDay(building))].close)}}</td>
				<td *ngIf="!isOpen(building)" class="warning">Card Accessible</td>
				<td *ngIf="!isOpen(building)">---</td>
				<td *ngIf="!isOpen(building)">---</td>
			</tr>
			<tr *ngFor="#place of building.places;">
				<td [ngClass]="{'closed': !isOpen(place)}"><a href="{{building.map_url}}" target="_blank">{{building.name}}</a></td>
				<td [ngClass]="{'closed': !isOpen(place)}">{{place.name}}</td>
				<td *ngIf="isOpen(place)">{{place.times[getCurrentDay(place)].hours[getCurrentHours(place, getCurrentDay(place))].name}}</td>
				<td *ngIf="isOpen(place)">{{convertToReadableTime(place.times[getCurrentDay(place)].hours[getCurrentHours(place, getCurrentDay(place))].open)}}</td>
				<td *ngIf="isOpen(place)">{{convertToReadableTime(place.times[getCurrentDay(place)].hours[getCurrentHours(place, getCurrentDay(place))].close)}}</td>
				<td *ngIf="!isOpen(place)" class="closed">Closed</td>
				<td *ngIf="!isOpen(place)" class="closed">---</td>
				<td *ngIf="!isOpen(place)" class="closed">---</td>
			</tr>
		</table>
	</div>

	<div *ngIf="!arrayed" class="centerText">
		<h2 class="gold">Raw Data</h2>
		<h5 class="gold">{{schedules?.schedules | json}}</h5>
	</div>
</div>