<br/>
<div style="text-align:center;">
<button class="button large hollow warning" (click)="getOldData()">Get Normal Data</button>
<button class="button large hollow warning" (click)="getArrayedData()">Get Arrayed Data</button>
<button class="button large hollow warning" (click)="printData()">Print JSON to Console</button>
<button *ngIf="debug == null" class="button large hollow warning" (click)="debugTime()">Speed Up Time</button>
<button *ngIf="debug != null" class="button large hollow warning" (click)="resetTime()">Reset Time</button>
</div>
<!-- The question mark indicated in Angular API as an Elvis operator will wait for schedules to be non-null before rendering the values below it -->

<div *ngIf="visible">

	<div *ngIf="arrayed" class="centerText">
		<br/>
		<h2 class="gold">Today is: {{date}}  {{convertToReadableTime(hour)}}</h2>
		
		<div class="small-12" *ngFor="#building of schedules?.schedules;">
			<div class="row openHeader" *ngIf="isOpen(building)">
				<div class="small-3 columns">
					<h1><a href="{{building.map_url}}" target="_blank">{{building.name}}</a></h1>
				</div>
				<div class="small-3 columns">
					<div><h2 class="gold">{{generateHours(building, true)}}</h2></div>
				</div>
				<div class="small-3 columns">
					<div>
						<h2 class="gold">{{generateHours(building, false)}}</h2>
					</div>
				</div>
				<div class="small-3 columns">
					<div><h2 class="gold">Open</h2></div>
				</div>
			</div>
			<div class="row closedHeader" *ngIf="!isOpen(building)">
				<div class="small-3 columns">
					<h1><a href="{{building.map_url}}" target="_blank">{{building.name}}</a></h1>
				</div>
				<div class="small-6 columns">
					<div><h2 class="gold">Card Accesible</h2></div>
				</div>
				<div class="small-3 columns">
					<div>
						<h2 class="gold">Closed</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<table class="mainTable">
					<tr>
						<th>Name</th>
						<th>Service</th>
						<th>Open</th>
						<th>Close</th>
					</tr>
					<tr *ngFor="#place of building.places;">
						<td [ngClass]="{'closed': !isOpen(place)}">{{place.name}}</td>
						
						<td *ngIf="isOpen(place)">{{place.times[getCurrentDay(place)].hours[getCurrentHours(place, getCurrentDay(place))].name}}</td>
						<td *ngIf="isOpen(place)">{{generateHours(place, true)}}</td>
						<td *ngIf="isOpen(place)">{{generateHours(place, false)}}</td>
						
						<td *ngIf="!isOpen(place)" class="closed">Closed</td>
						<td *ngIf="!isOpen(place)" class="closed">---</td>
						<td *ngIf="!isOpen(place)" class="closed">---</td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>

	<div *ngIf="!arrayed" class="centerText">
		<h2 class="gold">Raw Data</h2>
		<h5 class="gold">{{schedules?.schedules | json}}</h5>
	</div>
</div>