/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
  background-color: #3F366A;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}

.closed {
	background: rgba(255, 43, 47, 0.3); 
	opacity:0.4;
}

.warning {
	background: rgba(255, 43, 47, 0.5); 
}

.mainTable {
	margin: 0 auto; 
	border: 2px solid black; 
	width: 60%
}

.gold {
	color: #ECDCA8;
}

.centerText {
	text-align: center;
}